.notify {

  &__dropdown {
    box-shadow:
      0 6px 16px 0 rgba(0, 0, 0, 0.08),
      0 3px 6px -4px rgba(0, 0, 0, 0.12),
      0 9px 28px 8px rgba(0, 0, 0, 0.05);
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    min-width: 350px;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid #edf2f9;

    .notify__header-title {
      font-weight: 600;
    }
  }

  &__body {
    max-height: 300px;
    overflow-y: auto;

    .notify__item {
      display: flex;
      align-items: center;

      .notify__item-icon {
        border: none;
        width: 30px;
        height: 30px;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: rgba(63, 135, 245, 0.1);
        color: #3f87f5;
        margin-right: 15px;
      }

      span {
        font-size: 16px;
      }

      .notify__item-content {
        .notify__item-title {
          font-weight: 500;
        }

        .notify__item-time {
          font-weight: 400;
          color: #6b6b6b;
        }
      }
    }

    .ant-dropdown-menu {
      box-shadow: none;

      .ant-dropdown-menu-item {
        border-bottom: 1px solid #edf2f9;

        &:last-child {
          border-bottom: none;
        }
      }

      .ant-dropdown-menu-title-content {
        padding: 10px 0;
      }
    }
  }

  &__icon {
    width: 20px;
    height: 20px;
    color: #818181;
    font-weight: 300;
  }
}